{% extends "base.html" %}
 {% block title %}Browse{% endblock %} 



{% block content
  %}


  <div class="display-6 my-3" align="center">
    Browse  <a class="btn btn-start" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
        <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
      </svg>
    </a>
  </div>

  <div class="collapse" id="collapseExample">
    <form action="/home" method="POST" id="myForm" >
      <div class="card card-body ">
        Want to filter the browse page content? No problem! Just select the filters below and click on the "Apply Filter" button.<br>
        <br>
        <label for="diseaseFilter">Filter by Condition Prevalence:</label>
        <select class="form-select" aria-label="Default select example" id="drug_filter" name="drug_filter">
          <option selected value="ALL">All Conditions</option>
          <option value="ASTHMA">Asthma</option>
          <option value="DEMENTIA">Dementia</option>
          <option value="DIABETES">Diabetes</option>
          <option value="HYPERTENSION">Hypertension</option>
          <option value="EPILEPSY">Epilepsy</option>
          <option value="HEART FAILURE">Heart Failure</option>
          <option value="ISCHEMIC HEART DISEASE">Ischemic Heart Disease</option>
          <option value="MYOCARDIAL INFARCTION">Myocardial Infarction</option>
          <option value="SCHIZOPHRENIA">Schizophrenia</option>
          <option value="STROKE">Stroke</option>
          <option value="PARKINSON'S">Parkinson's</option>
          <option value="MULTIPLE SCLEROSIS">Multiple Sclerosis</option>
          <option value="CHRONIC OBSTRUCTIVE PULMONARY DISEASE">Chronic Obstructive Pulmonary Disease</option>
        </select>
        <br>

        <button type="submit" value="Submit" class="btn btn-start mb-3" style="width:125px">Apply Filter</button>
      </div>
    </form>
    <br>
  </div>

<div class="lead mb-4 rounded-3 text-center" style="width:50%;margin-left:auto;margin-right:auto;">
  <p>Don't know the name of the drug? No problem! Just upload the image of 
    the drug and we will identify it for you.
  </p>

  <a href="{{ url_for('auth.identify') }}" class="btn btn-start responsive-text" role="button" id="startTodayButton">Identify Medicine</a>
  
  <br><br>

  <p>Want to calculate the risk of a drug that is not in our database? No problem!
    You can add it manually and we will calculate the risk for you.
  </p>

  <a href="{{ url_for('auth.identify') }}#identify-risk-form" class="btn btn-start responsive-text" role="button">Identify Risk</a>

</div>

<div class="container">
  <div class="row">
    {% for drug in drugs %}
    <div class="col-sm-12 col-md-6">
      <div class="card-wrapper ">
        <div class="card shadow align-items-center" style="background-color:#CEE3EA;">
            <div class="card-body">
                <div id="cardContainer" style="max-width:100%;">
                    <h4 class="card-title" id="drugName">{{ drug.name.replace("_", " ") }}</h4>
                    <div>
                        <h5 class="card-subtitle mb-2 text-body-secondary" id="drugCondition">Used For: {{ drug.disease }}</h5>
                        <br>
                        <div class="row">
                            <div class="col-sm-6 h6">
                              Average Sex Distribution in Clinical Studies
                            </div>
                            
                            <!-- <div class="col-sm-6 h6">
                              Disease Prevalence
                            </div> -->
                           
                        </div>
        
                        <div class="row ">
                          <div class="col-sm-12 d-flex justify-content-center">
                            <img class="card-sizing img-fluid" src="{{ drug.prevalence }}" alt="{{ drug.name }}">
                          </div>
                          <!-- <div class="col-sm-6">
                            <img style="height:auto;max-width:100%;display:block;" src="{{ drug.path_prevalence }}" alt="Disease Prevalence" >
                          </div> -->
                        </div>

                        <div class="accordion" id="accordionExample{{ drug.id }}">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ drug.id }}">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ drug.id }}" aria-expanded="true" aria-controls="collapse{{ drug.id }}">
                                Learn More
                              </button>
                            </h2>
                            <div id="collapse{{ drug.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ drug.id }}" data-bs-parent="#accordionExample{{ drug.id }}">
                              <div class="accordion-header ms-3 mt-3 text-secondary">
                                Age-Standardized Prevalence of {{ drug.disease}} in Canadians Aged 1 Years and Older (2021-2022) *
                              </div>
                              <div class="accordion-body">
                                <strong>Prevalence in females:</strong> {{ drug.prevFemale }} %<br>
                                <strong>Prevalence in males:</strong> {{ drug.prevMale }} % <br>
                                <strong>Prevalence in both sexes:</strong> {{ drug.prevBoth }} % <br>

                                <br>
                                *retrieved from <a class="readMore" href="https://health-infobase.canada.ca/ccdss/data-tool/">https://health-infobase.canada.ca/ccdss/data-tool/</a>
                              </div>
                            </div>
                          </div>
                        </div>

                        <form method="post" class="mt-3">
                          
                          <div class="master" action="{{ url_for('views.save_drug') if not drug.is_saved else url_for('views.unsave_drug') }}">
                            <input type="hidden" name="drug_id" value="{{ drug.id }}">
                            {% if current_user.is_authenticated %}
                            <!-- If user is logged in, show the save/unsave button -->
                              {% if drug.is_saved %}
                                  <button type = "submit" class="unsave-drug btn btn-start" data-drug="{{ drug.id }}">Unsave</button>
                              {% else %}
                                  <button type = "submit" class="save-drug btn btn-start" data-drug="{{ drug.id }}">Save</button>
                              {% endif %}
                            {% else %}
                              <!-- If user is not logged in, show only the save button which redirects to login -->
                              <a href="{{ url_for('auth.login') }}" class="btn btn-start">Save</a>
                            {% endif %}
                          </button>
                        </div>

                          <input type="hidden" name="drugName" id="drugName" value="{{ drug.name }}">
                          <input type="hidden" name="drugCondition" id="drugCondition" value="{{ drug.disease }}">
                          <button type="submit" id="calcRisk" class="btn btn-start calcRisk">Calculate Risk</button>  
                          <br><br>
                          <div class="container position-relative rounded " id="resultString{{ drug.id }}">
                            {{ result_string_pred }}
                          </div>
                            
                          
                         
                        </form>

                        <!-- <form method="post" id="calcRiskForm" class="mt-3">
                          <input type="hidden" name="drugName" id="drugName" value="{{ drug.name }}">
                          <input type="hidden" name="drugCondition" id="drugCondition" value="{{ drug.disease }}">
                          <button type="submit" id="calcRisk" class="btn btn-start calcRisk" onclick="submitForm2()">Calculate Risk</button>  
                          <br><br>
                          <div id="resultString" class="container position-relative rounded " >
                            {{ result_string_pred }}
                          </div>
                        </form> -->
                    </div>

                </div>
            </div>
        </div>
        </div>
      <br>
    </div>
    {% endfor %}
  </div>
</div>

  
  <script>
    document.querySelectorAll('.calcRisk').forEach(card => {
      button.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the form from submitting the traditional way
        const form = this.closest('form');
        const formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            // Update the resultString div with the response
            const resultDiv = document.getElementById(`resultString${form.querySelector('input[name="drugName"]').value}`);
            resultDiv.innerHTML = data.result_string_pred;
        })
        .catch(error => console.error('Error:', error));
      });
    });

    
    document.getElementById('saveButton').addEventListener('click', function() {
      var cardContainer = document.getElementById('cardContainer');
      var parser = new DOMParser();
      var doc = parser.parseFromString(cardContainer.outerHTML, 'text/html');
      var saveButton = doc.getElementById('saveButton');
      saveButton.textContent = 'Unsave';
      saveButton.id = 'unsaveButton';
      localStorage.setItem('savedCard', doc.body.innerHTML);
      window.location.href = 'saved';
    });

    function submitForm() {
      // Handle form submission here
      document.getElementById('myForm').submit();
    }


   
  </script>

  {% endblock %}



  

