{% extends "base.html" %} {% block title %}Identify{% endblock %} 
{% block content %}


<div class="container">
    <br>
    <div class="text-secondary fst-italic" style="font-size:80%">
        * Your privacy and data security are our top priorities. Please be assured that none of the 
         images uploaded for medicine identification are stored or saved after the analysis is 
         complete
    </div>

    <form id="label-identify-form" enctype="multipart/form-data" method="POST" class="mb-3">
        <div>
            <h2 class="display-6 text-center my-3">Identify Label</h2>
            <div id="flash-messages"></div>
            <div class="mb-3">
                <label for="label-image" class="form-label">Upload Label Image</label>
                <input type="file" class="form-control" id="label-image" name="uploaded-label-image" accept="image/*" capture onchange="displayImage(this, 'label-image-preview');">
            </div>
            <img id="label-image-preview" src="" alt="Label Image Preview" style="display: none;padding-bottom:20px;" >
            <button type="submit" class="btn btn-start" name="submit-button1" value="label" onclick="performPrediction()">Identify Label</button>
            <a id="moreButton" class="btn btn-start" onclick="goSearch()">Show Results</a>
            <br><br>
            <div class="container position-relative rounded shadow {{ 'hidden' if text is none or text|length == 0 }}" 
            style="background-color: #CEE3EA; {{ 'padding: 20px;' if text is not none and text|length > 0 }}" id="result">
            {{ text }}
            </div>
        </div>
    </form>   

    <br>

    <form id="pill-identify-form" enctype="multipart/form-data" method="POST" class="mb-3">
        <div>
            <h2 class="display-6 text-center my-3">Identify Pill</h2>
            <div id="flash-messages"></div>
            <div class="text-secondary fst-italic" style="font-size:80%">
                * Please note that this pill recognition tool is a prototype designed to facilitate your search for drug information. Always double-check your medicine.
            </div>
            <br>
            <div class="mb-3">
                <label for="pill-image" class="form-label">Upload Pill Image</label>
                <input type="file" class="form-control" id="pill-image" name="uploaded-pill-image" accept="image/*", capture onchange="displayImage(this, 'pill-image-preview');">
            </div>
            <img id="pill-image-preview" src="" alt="Pill Image Preview" style="display: none;padding-bottom:20px;" >
            <button type="submit" class="btn btn-start" name="submit-button2" value="pill" onclick="performPrediction()">Identify Pill</button>
            <a id="moreButton" class="btn btn-start" onclick="goSearch2()">Show Results</a>
            <br><br>
            <div class="container position-relative rounded shadow {{ 'hidden' if pill is none or pill|length == 0 }}" 
            style="background-color: #CEE3EA; {{ 'padding: 20px;' if pill is not none and pill|length > 0 }}" id="result">
            {{ pill }} 
            </div>
        </div>
    </form>

    <br>
    
    <form id="identify-risk-form" enctype="multipart/form-data" method="POST" class="mb-3">
        <div>
            <h2 class="display-6 text-center my-3">Identify Risk</h2>
            <div id="flash-messages"></div>
            <div class="text-secondary fst-italic" style="font-size:80%">
                * The model is currently set to female patients. To see the prediction risk for male patients, please login or create an account
            </div>
            <br>
            <div class="mb-3">
                <label for="drug" class="form-label">Enter the drug name and its target condition to calculate the risk for <b>{{ current_user.sexe.lower() if current_user.is_authenticated and (current_user.sexe == 'Female' or current_user.sexe == 'Male') else 'female' }}</b> patients</b></label>
                <select class="form-select" aria-label="Default select example" id="drugRiskSelect" name="drugRiskSelect" onchange="toggleDrugInput()">
                    <option selected value="menu">Select Drug Option</option>
                    <option value="input">Input Drug</option>
                    <option value="select">Select Drug</option>
                </select>
                <br>
                <input type="text" class="form-control mb-4" id="drugRiskInput" name="drugRiskInput" placeholder="Enter Drug" style="display: none;">
                <select class="form-select mb-4" id="selectDrug" name="selectDrug" style="display: none;">
                    <option selected>Drugs in Dataset</option>
                    {% for med in meds %}
                        <option value="{{ med }}">{{ med.capitalize() }}</option>
                    {% endfor %}
                </select>
                
                <select class="form-select" aria-label="Default select example" id="diseaseRisk" name="diseaseRisk">
                    
                        <option selected>Select Condition</option>
                        <option value="ASTHMA">Asthma</option>
                        <option value="DEMENTIA">Dementia</option>
                        <option value="DIABETES">Diabetes</option>
                        <option value="HYPERTENSION">Hypertension</option>
                        <option value="EPILEPSY">Epilepsy</option>
                        <option value="HEART FAILURE">Heart Failure</option>
                        <option value="ISCHEMIC HEART DISEASE">Ischemic Heart Disease</option>
                        <option value="MYOCARDIAL INFARCTION">Myocardial Infarction</option>
                        <option value="SCHIZOPHRENIA">Schizophrenia</option>
                        <option value="STROKE">Stroke</option>
                        <option value="PARKINSON'S">Parkinson's</option>
                        <option value="MULTIPLE SCLEROSIS">Multiple Sclerosis</option>
                        <option value="CHRONIC OBSTRUCTIVE PULMONARY DISEASE">Chronic Obstructive Pulmonary Disease</option>
                    
                </select>
                <!-- <input type="text" class="form-control" id="diseaseRisk" name="diseaseRisk" placeholder="Enter Condition" required> -->
            </div>
            <button type="submit" class="btn btn-start" name="submit-button3" value="risk" onclick="performPrediction()">Calculate Risk</button>
            <!-- Calculating Modal -->
            <div class="modal" tabindex="-1" role="dialog" id="calculatingModal">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Processing</h5>
                    </div>
                    <div class="modal-body">
                    <p>Calculating...</p>
                    </div>
                </div>
                </div>
            </div>
            <br><br>
            <div class="container position-relative rounded shadow {{ 'hidden' if result_string is none or result_string|length == 0 }}" 
            style="background-color: #CEE3EA; {{ 'padding: 20px;' if result_string is not none and result_string|length > 0 }}" id="result">
            {{ result_string }}
            </div>
            
        </div>
    </form>
    
    
</div>
    
<script> 
    // document.addEventListener('DOMContentLoaded', function() {
    //     function handleSubmit(event) {
    //         var isErrorFlashed = "{{ errorFlash }}"; // Ensure this is trimmed for accurate length check
            
    //         if (isErrorFlashed) {
    //             // event.preventDefault(); // Prevent form submission
    //             // Additional logic for handling the error can go here
    //             window.scrollTo(0, 0); // Scroll to the top of the page

    //             setTimeout(function() {
    //                 // Additional logic to handle the error can go here
    //                 // For example, showing an alert or logging to console
    //                 // alert("Error detected. Please check your input.");
    //             }, 6000); // Adjust the time (in milliseconds) as needed


    //         } else {
    //             // If no error, proceed with the form submission or other logic
    //             // event.target.submit();
    //             performPrediction(); // This needs to be defined or uncommented as needed
    //         }
    //     }

    //     document.getElementById('label-identify-form').addEventListener('submit', handleSubmit);
    //     document.getElementById('pill-identify-form').addEventListener('submit', handleSubmit);
    //     document.getElementById('identify-risk-form').addEventListener('submit', handleSubmit);
    // });
    
    function performPrediction() {
        // Show the modal
        var isErrorFlashed = "{{ errorFlash }}";
        // var modal = document.getElementById('calculatingModal').value;

        if (isErrorFlashed) {
            window.scrollTo(0, 0);
            $('#calculatingModal').modal('hide');
        } else {
            // document.getElementById('calculatingModal').style.opacity = '1';
            $('#calculatingModal').modal('show');

        }

        // Set up a MutationObserver to watch for changes in the 'hidden' class of the result div
        var observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if (!document.getElementById('result').classList.contains('hidden')) {
                    // Once the result is displayed, hide the modal and disconnect the observer
                    calculatingModal.hide();
                    observer.disconnect();
                }
            });
        });

        // Configuration of the observer:
        var config = { attributes: true, childList: false, characterData: false, attributeFilter: ['class'] };

        // Target node to observe
        var target = document.getElementById('result');

        // Start observing
        observer.observe(target, config);

        // Assuming you're using AJAX or a similar method to perform the prediction
        // and update the page, you would trigger that here.
        // The observer will take care of hiding the modal once the result is ready.
    }

    // Ensure the modal is hidden initially if the result is already visible
    window.onload = function() {
        if (!document.getElementById('result').classList.contains('hidden')) {
            var calculatingModal = bootstrap.Modal.getInstance(document.getElementById('calculatingModal'));
            if (calculatingModal) {
                calculatingModal.hide();
            }
        }
    };

    window.onload = function() {
        if(window.location.hash) {
            var hash = window.location.hash.substring(1); // Get the hash, minus the '#'
            var targetElement = document.getElementById(hash);
            if(targetElement) {
                targetElement.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });
            }
            history.pushState("", document.title, window.location.pathname + window.location.search);
        }
    };
    function toggleDrugInput() {
        var selection = document.getElementById('drugRiskSelect').value;
        if (selection === 'input') {
            document.getElementById('drugRiskInput').style.display = 'block';
            document.getElementById('selectDrug').style.display = 'none';
        } else if (selection === 'select') {
            document.getElementById('drugRiskInput').style.display = 'none';
            document.getElementById('selectDrug').style.display = 'block';
        } else {
            document.getElementById('drugRiskInput').style.display = 'none';
            document.getElementById('selectDrug').style.display = 'none';
        }
    }

    var search_term = "{{ something }}";
    var search_term2 = "{{ pill }}";

    function goSearch() {
        window.location.href = "/search?query=" + encodeURIComponent(search_term);
    }

    function goSearch2() {
        window.location.href = "/search?query=" + encodeURIComponent(search_term2);
    }

    function displayImage(input, previewId) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                document.getElementById(previewId).style.display = 'block';
                document.getElementById(previewId).style.height = '200px';
                document.getElementById(previewId).src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    document.getElementById('pill-image').addEventListener('change', function() {
        var reader = new FileReader();
        reader.onload = function(e) {
            var image = document.getElementById('uploaded-image');
            image.src = e.target.result;
            image.style.height = '200px'; // Set the height of the image
            image.style.display = 'block';  // Make the image visible
        }
        reader.readAsDataURL(this.files[0]);
    });

    document.getElementById('label-image').addEventListener('change', function() {
        var reader2 = new FileReader();
        reade2r.onload = function(e) {
            var image2 = document.getElementById('uploaded-label');
            image2.src = e.target.result;
            image2.style.height = '200px'; // Set the height of the image
            image2.style.display = 'block';  // Make the image visible
        }
        reader2.readAsDataURL(this.files[0]);
    });
    
</script>

{% endblock %}