{% extends "base.html" %} {% block title %}Settings{% endblock %} 
{% block content %}


<div class="container">

    <form id="pill-identify-form" enctype="multipart/form-data" method="POST" action="{{ url_for('auth.identify') }}" class="mb-3">
        <div>
            <h2 class="display-6 text-center my-3">Identify Pill</h2>
            <div class="mb-3">
                <label for="pill-image" class="form-label">Upload Pill Image</label>
                <input type="file" class="form-control" id="pill-image" name="uploaded-image" accept="image/*" capture onchange="displayImage(this, 'image-preview')">
            </div>
            <img id="image-preview" src="" alt="Image Preview" style="display: none;padding-bottom:20px;" >
            <button type="submit" class="btn btn-start" name="submit-button" value="image">Identify Image</button>
        </div>
        <br>
        <div>
            <h2 class="display-6 text-center my-3">Identify Label</h2>
            <div class="mb-3">
                <label for="pill-label" class="form-label">Upload Pill Label</label>
                <input type="file" class="form-control" id="pill-label" name="uploaded-label" accept="image/*" capture onchange="displayImage(this, 'label-preview')">
            </div>
            <img id="label-preview" src="" alt="Label Preview" style="display: none;padding-bottom:20px;">
            <button type="submit" class="btn btn-start" name="submit-button" value="label">Identify Label</button>    
        </div>
         </form>

    <!-- <div id="pill-info" class="mt-3"></div> Placeholder for pill information -->

</div>

    
    
<script>
    function displayImage(input, previewId) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                document.getElementById(previewId).style.display = 'block';
                document.getElementById(previewId).style.width = '200px';
                document.getElementById(previewId).style.height = '200px';
                document.getElementById(previewId).src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    document.getElementById('pill-image').addEventListener('change', function() {
        var reader = new FileReader();
        reader.onload = function(e) {
            var image = document.getElementById('uploaded-image');
            image.src = e.target.result;
            image.style.width = '200px';  // Set the width of the image
            image.style.height = '200px'; // Set the height of the image
            image.style.display = 'block';  // Make the image visible
        }
        reader.readAsDataURL(this.files[0]);
    });

    document.getElementById('label-image').addEventListener('change', function() {
        var reader2 = new FileReader();
        reade2r.onload = function(e) {
            var image2 = document.getElementById('uploaded-label');
            image2.src = e.target.result;
            image2.style.width = '200px';  // Set the width of the image
            image2.style.height = '200px'; // Set the height of the image
            image2.style.display = 'block';  // Make the image visible
        }
        reader2.readAsDataURL(this.files[0]);
    });
    
</script>

{% endblock %}