{% extends "base-mobile.html" %} 
{% block title %}Learn More{% endblock %} 
{% block content %}
<div class="mx-2" >

    <div class="display-6 my-4" id="data" style="scroll-margin-top: 60px;">
        About Our Data
    </div>
    <br>
    <h4 class="display-7">
        Canadian Chronic Disease Surveillance System (CCDSS)
    </h4>

    <p class="lead">
        The Canadian Chronic Disease Surveillance System (CCDSS) is a network of provincial and 
        territorial surveillance systems supported by the Public Health Agency of Canada (PHAC). 
        To identify people with chronic diseases and conditions, provincial and territorial health 
        insurance registry records are linked using a unique personal identifier to the corresponding 
        physician billing claims, hospital discharge abstract records and prescription drug records. 
        Key information about the CCDSS methods and case definitions can be found here:
        <a href="https://health-infobase.canada.ca/ccdss/Methods.aspx" class="readMore">CCDSS summary of methods</a>,
        <a href="https://health-infobase.canada.ca/ccdss/publication/CCDSS_Case_Definitions_v2023.xlsx" class="readMore">CCDSS case definitions</a>,
        <a href="https://health-infobase.canada.ca/ccdss/publication/COVID_Guidance_EN.pdf" class="readMore">CCDSS COVID-19 guidance for data users</a>.
    </p>

    <br><br>

    <h4 class="display-7">
        MedEffect Canada Vigilance Adverse Reaction Online Database
    </h4>

    <p class="lead">
        The Canada Vigilance Adverse Reaction Online Database contains information 
        about suspected adverse reactions (also known as side effects) 
        to <a href="https://www.canada.ca/en/health-canada/services/drugs-health-products/medeffect-canada/adverse-reaction-database/glossary.html#shp" class="readMore">health products</a>.
    </p>

    <p class="lead">
        Adverse reaction reports are submitted by:
        <ul class="lead"><ul>
            <li>Consumers and health professionals, who submit reports voluntarily</li>
            <li>Manufacturers and distributors (also known as market authorization holders), who
                are required to submit reports according to the 
                <a href="http://laws-lois.justice.gc.ca/eng/acts/f-27/" class="readMore">Food and Drugs Act</a></li>
        </ul></ul>
    </p>

    <p class="lead">
        Read more about <a class="readMore" href="https://www.canada.ca/en/health-canada/services/drugs-health-products/medeffect-canada/medeffect-canada.html">MedEffect Canada</a> or 
        about the <a class="readMore" href="https://www.canada.ca/en/health-canada/services/drugs-health-products/medeffect-canada/canada-vigilance-program.html">Canada Vigilance Program</a>. 
    </p>

    <br><br>

    <h4 class="display-7">
        ClinicalTrials.gov
    </h4>

    <p class="lead">
        ClinicalTrials.gov is an online database providing clinical research studies 
        from over 200 countries to the public, researchers, and health care professionals. 
        It relies on sponsors and investigators to submit and update study information and 
        complies with laws and regulations requiring the public sharing of clinical trial data,
         including results. ClinicalTrials.gov launched in 2000 and was created as part of the Food 
         and Drug Administration Modernization Act of 1997. This law required the U.S. National 
         Institutes of Health (NIH) to create a database of clinical trials that have an 
         <a class="readMore"  href="https://www.fda.gov/drugs/types-applications/investigational-new-drug-ind-application">
            investigational new drug (IND) application
        </a> 
         to test investigational drugs for serious or 
         life-threatening diseases. More information <a class="readMore" href="https://www.clinicaltrials.gov/about-site" >here</a>.
    </p>

    <br>

    <div class="display-6 my-4" id="resources" style="scroll-margin-top: 60px;">
        Resources
    </div>

    <br>

    <h4 class="display-7">
        Books & Research Papers on The Disparities
    </h4>

    <p class="lead">
        Armstrong, E. (2018). The gender gap in pharmaceutical research. <em>Voices in Bioethics</em>, 4. <a class="readMore" href=" https://doi.org/10.7916/vib.v4i.6008">https://doi.org/10.7916/vib.v4i.6008</a>
    </p><br>

    <p class="lead">
        Oertelt-Prigione, S. (2024). Tackling biases in clinical trials to ensure 
        diverse representation and effective outcomes. <em>Nature Communications</em>, 15, 1407. 
        <a class="readMore" href="https://doi.org/10.1038/s41467-024-45718-w">https://doi.org/10.1038/s41467-024-45718-w</a>
    </p><br>

    <p class="lead">
        Peppin, P., & Mykitiuk, R. (2008). Gender equity in clinical trials in Canada: 
        Aspiration or achievement?. <em>IJFAB: International Journal of Feminist Approaches to 
        Bioethics,</em> 1(2), 100-124. <a class="readMore" href="https://doi.org/10.3138/ijfab.1.2.100">https://doi.org/10.3138/ijfab.1.2.100</a>    
    </p><br>

    <p class="lead">
        Perez, C. C. (2019). <em>Invisible women: Data bias in a world designed for men</em>. Abrams.
    </p><br>

    <p class="lead">
    Regitz-Zagrosek, V., & Gebhard, C. (2023). Gender medicine: effects of sex and gender on 
    cardiovascular disease manifestation and outcomes. <em>Nature Reviews Cardiology</em>, 20(4), 236-247.
        <a class="readMore" href="https://doi.org/10.1038/s41569-022-00797-4">https://doi.org/10.1038/s41569-022-00797-4</a>
    </p><br>

    <p class="lead">
        Yakerson, A., & Lam, K. C. K. (2019). Women’s human rights and health equality in 
        clinical trials in Canada. <em>Canadian Woman Studies/Les Cahiers De La Femme</em>, 33(1-2). 
        Retrieved from <a class="readMore" href="https://cws.journals.yorku.ca/index.php/cws/article/view/37765">
            https://cws.journals.yorku.ca/index.php/cws/ article/view/37765</a>   
    </p>

    <br><br>

    <h4 class="display-7">
        Wepages
    </h4>

    <p class="lead">
        From the <em>Academy of Applied Pharmaceutical Sciences (AAPS):</em> <a class="readMore" href="https://www.aaps.ca/blog/a-look-at-gender-representation-in-clinical-trials-for-students-in-clinical-research-courses">
            A Look at Gender Representation in Clinical Trials for Students in Clinical Research Courses.
        </a>
    </p><br>

    <p class="lead">
        From the <em>Government of Canada:</em> <a class="readMore" href="https://www.canada.ca/en/health-canada/services/drugs-health-products/drug-products/applications-submissions/guidance-documents/clinical-trials/considerations-inclusion-women-clinical-trials-analysis-data-sex-differences.html">
            Guidance Document: Considerations for Inclusion of Women in Clinical Trials and Analysis of Sex Differences
        </a>
    </p><br>

    <p class="lead">
        From <em>Labiotech.eu:</em> <a class="readMore" href="https://www.labiotech.eu/interview/how-to-ensure-gender-diversity-in-clinical-trials/">
            How to ensure gender diversity in clinical trials
        </a>
    </p><br>

    <p class="lead">
        Ways machine learning is being used to tackle disparities from <em>healthcare-in-europe.com (HiE): </em> 
        <a class="readMore" href="https://healthcare-in-europe.com/en/news/machine-learning-fixes-gender-bias-in-clinical-trials.html">
            Machine learning fixes gender bias in clinical trials
        </a>
    </p><br>
</div>
    
{% endblock %}