{% extends "base.html" %} {% block title %}Opening{% endblock %} 
{% block content %}
<br>
<div class="container py-5 mb-4 rounded-3 " style="background-image:url('./static/images/2 .png');">
    <div class="p-5 mb-4 lc-block">
        <div class="lc-block">
            <div editable="rich">
                <p class="fw-bolder display-4" style="color: #364A5D">For Improved Drug Safety</p>
            </div>
        </div>
        <div class="lc-block col-md-8">
            <div editable="rich">
                <p class="lead">
                    unbIAsed.Rx is a tool that helps you make informed decisions about your medications, by keeping
                    you informed about the research and clinical trials undergone for each drug.
                </p>
            </div>
        </div>
        <div class="lc-block">
            <br>
            <a class="btn btn-start" href="/sign-up" role="button">Start today!</a>
        </div>
    </div>
</div>


<div class="container p-5 bg-body mt-md-n6 position-relative rounded" >
    <div class="row" >
        <div class="col-md-4 text-center align-self-center">
            <div class="lc-block border-lg-end border-2 ">
                <div editable="rich">
                    <p class="display-4 text-secondary">Our Goal</p>
                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-md-8">
            <div class="lc-block ">
                <div editable="rich">
                    <p class="display-4">Self-advocacy: Knowledge is Power</p>
                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
    </div>
    <div class="row">
        <div class="col-md-9 offset-md-4">
            <div class="lc-block mt-5">
                <div editable="rich">
                    <p class="lead text-secondary"> 
                        For patients to be able to be their own advocate and have easy access to 
                        public information about the safety of the drug.
                        &nbsp;
                    </p>

                    <p class="lead text-secondary"> 
                        For many drugs, clinical trial studies are not always representative of the general
                        population. For instance, sometimes there are significantly less female participants,
                        which ends up masking the true effect of the drug post-market.
                        &nbsp;
                    </p>

                    <p class="lead text-secondary"> 
                        unbIAsed.Rx offers a solution for individuals to raise awareness of this issue, 
                        as well as provide the tools to better advocate for themselves.
                        &nbsp;
                    </p>
                    
                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
    </div>
</div>

<div class="container p-5 bg-body mt-md-n6 position-relative rounded" >
    <div class="row" >
        <div class="col-md-4 text-center align-self-center">
            <div class="lc-block border-lg-end border-2 ">
                <div editable="rich">
                    <p class="display-4 text-secondary">Impact</p>
                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-md-8">
            <div class="lc-block ">
                <div editable="rich">
                    <p class="display-4">More Equitable and Effective Healthcare for All</p>
                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
    </div>
    <div class="row">
        <div class="col-md-9 offset-md-4">
            <div class="lc-block mt-5">
                <ul>
                <div editable="rich">
                    <li><p class="lead text-secondary"> 
                        For patients to look up specific drugs, to make more informed decisions about the drugs they take.
                        &nbsp;
                    </p></li>

                    <li><p class="lead text-secondary"> 
                        For the healthcare system, to make more informed decisions about the drugs they prescribe.
                        &nbsp;
                    </p></li>

                    <li><p class="lead text-secondary"> 
                        For the pharmaceutical industry, to raise awareness about the importance of diversity in clinical trials.
                        &nbsp;
                    </p></li>

                    <li><p class="lead text-secondary"> 
                        For society as a whole, to raise awareness on the importance of representation and self-advocacy.
                        &nbsp;
                    </p></li>
                </div>
                </ul>
            </div><!-- /lc-block -->
        </div><!-- /col -->
    </div>
</div>


<footer class="footer p-5 mt-auto"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-md-3" > 
                <h5>
                    <a  class="link-underline-opacity-0" href="/" style="--bs-link-hover-color-rgb: 246, 174, 164;">
                        <img src="static/images/logo.png" alt="unbIAsed.Rx" style="width: 200px;">
                    </a>
                </h5>
            </div> 
            <div class="col-md-2"> 
                <h5>About Us</h5> 
                <ul class="list-unstyled list-group"> 
                    <li><a class="dropdown-item list-group-item-action" href="../about#whoWe" style="--bs-link-hover-color-rgb: 246, 174, 164;">Who are we?</a></li>
                    <li><a class="dropdown-item list-group-item-action" href="../about#meetTeam" style="--bs-link-hover-color-rgb: 246, 174, 164;">Meet the team</a></li>
                </ul>
            </div> 
            <div class="col-md-3"> 
                <h5>Contact Us</h5> 
                <ul class="list-unstyled"> 
                    <li>Email: <a href="mailto:unbIAsed.rx@gmail.com" class="email-link">unbIAsed.rx@gmail.com</a></li> 
                    <li>Address: Montreal, Qc, Canada</li> 
                </ul> 
            </div> 

            <div class="col-md-4"> 
                <h5>Feedback</h5> 
                <ul class="list-unstyled"> 
                    <li>We welcome any questions and suggestions on how we can improve our website!</li> 
                </ul> 
            </div> 
            
        </div> 
        <br>
        <div class="row"> 
            <div class="col text-secondary fst-italic"> 
                <p>Disclamer: All information provided is for educational purposes only, and is not intended for medical adivce, diagnosis, or treatment.</p> 
            </div> 
        </div> 
        <hr> 
        <div class="row"> 
            <div class="col-md-6"> 
                <p>© 2024 unbIAsed-Rx.ca. All rights reserved.</p> 
            </div> 
        </div> 
    </div> 
</footer> 
   
{% endblock %}