{% extends "base.html" %} {% block title %}Opening{% endblock %} 
{% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert" >
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert" >
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
{% block content %}
<br>
<div class="container py-5 mb-4 rounded-3 shadow" style="background-image:url('./static/images/2.png');background-size: cover; background-position: center;">
    <div class="p-5 mb-4 lc-block">
        <div class="lc-block">
            <div editable="rich">
                <p class="fw-bolder display-5 responsive-text" style="color: #364A5D">For Improved Drug Safety</p>
            </div>
        </div>
        <div class="lc-block col-md-8">
            <div editable="rich">
                <p class="lead responsive-text">
                    unbIAsed.Rx empowers you to make informed decisions: 
                    visualize clinical trials and research done on your drug and 
                    talk to your practitioner about potential risks for your health!
                </p>
            </div>
        </div>
        <div class="lc-block">
            <br>
            <a class="btn btn-start responsive-text" role="button" id="startTodayButton">Start today!</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-4">
                <video autoplay muted id="myVideo" style="max-width: 100%; height: auto;">
                    <source src="static/videos/fact1.mp4" type="video/mp4">
                </video>
            </div>
        
            <div class="col-4">
                <video autoplay muted id="myVideo" style="max-width: 100%; height: auto;">
                    <source src="static/videos/fact2.mp4" type="video/mp4">
                </video>
            </div>
        
            <div class="col-4">
                <video autoplay muted id="myVideo" style="max-width: 100%; height: auto;">
                    <source src="static/videos/fact3.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-4 lead text-center responsive-text">
            Women only make up ~22% of phase I clinical trial [1]
        </div>
    
        <div class="col-4 lead text-center responsive-text">
            Female patients have a 1.5- to 1.7-fold greater risk of developing an Adverse drug reaction [2]
        </div>
    
        <div class="col-4 lead text-center responsive-text">
            As of 2016, 70% of biomedical experiments did not report sex as a variable of interest [3]
        </div>
    </div>
    <br>

    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-4 lead text-center responsive-text" style="font-size: xx-small;">
           [1] Labots G, Jones A, de Visser SJ, Rissmann R, Burggraaf J. Gender differences in clinical registration trials: is there a real problem?
        </div>
    
        <div class="col-4 lead text-center responsive-text" style="font-size: xx-small;">
            [2] Rademaker M. Do women have more adverse drug reactions? Am J Clin Dermatol. 2001        
        </div>
    
        <div class="col-4 lead text-center responsive-text" style="font-size: xx-small;">
            [3] Sugimoto CR, Ahn Y-Y, Smith E, Macaluso B, Larivière V Factors affecting sex-related reporting in medical research: a cross-disciplinary bibliometric analysis
        </div>
    </div>

    
</div>

<br>
<div class="container p-5 mt-md-n6 " >
    <div class="row">
        <div class=" ">
            <div class="lc-block border-lg-end border-2 ">
                <div editable="rich">
                    <p class="display-5 text-secondary">Motivation</p>
                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
        
    </div>
    <div class="row">
        <div class="">
            <div class="lc-block mt-5">
                <div editable="rich">
                    <p class="lead text-secondary"> 
                        Historically, drug testing has often focused on demographics that do 
                        not accurately represent the general population. This has led to post-market 
                        adverse effects that disproportionately affect underrepresented groups. 
                        The underrepresentation of women in clinical trials introduces significant 
                        biases, compromising the quality of women's healthcare and exposing them to 
                        a higher risk of adverse drug reactions.
                        &nbsp;
                    </p>

                    <p class="lead text-secondary"> 
                        Despite known differences, there is currently limited reporting of 
                        sex differences in the published results of clinical trial research 
                        and data analysis by sex is not carried out consistently for therapeutic 
                        products.
                        &nbsp;
                    </p>

                    <p class="lead text-secondary"> 
                        Our unique approach combines advanced machine learning, 
                        comprehensive data integration and visualization, and a user-friendly 
                        platform to address a critical gap in the pharmaceutical industry.
                        &nbsp;
                    </p>
                    
                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
    </div>
</div>
<br> 

<div class="container p-5 mt-md-n6 position-relative rounded shadow" style="background-color: #CEE3EA;">
    <div class="row">
        <div class="col-4 text-center align-self-center">
            <div class="lc-block border-lg-end border-2 ">
                <div editable="rich">
                    <p class="display-5 text-secondary">Our Vision</p>
                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-8">
            <div class="lc-block ">
                <div editable="rich">
                    <p class="display-6">Self-advocacy: Knowledge is Power</p>
                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-4">
            <div class="lc-block mt-5">
                <div editable="rich">
                    <p class="lead text-secondary"> 
                        <b>Empower patients</b> to be their own advocates by providing easy 
                        access to relevant public drug information for meaningful discussions 
                        with healthcare practitioners.
                        &nbsp;
                    </p>

                    <p class="lead text-secondary"> 
                        <b>Assist patients and practitioners</b> in making well-informed decisions 
                        about medications by offering predictive sex-based adverse reaction alerts.
                        &nbsp;
                    </p>

                    <p class="lead text-secondary"> 
                        <b>Raise awareness</b> about the imbalances in clinical trials and the need 
                        for more inclusive research practices.
                        &nbsp;
                    </p>
                    
                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
    </div>
</div>
<br>

<div class="container p-5 mt-md-n6 position-relative rounded shadow" style="background-color: #CEE3EA;">
    <div class="row">
        <div class="col-4 text-center align-self-center">
            <div class="lc-block border-lg-end border-2 ">
                <div editable="rich">
                    <p class="display-5 text-secondary">Impact</p>
                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-8">
            <div class="lc-block ">
                <div editable="rich">
                    <p class="display-6">Strengthening the Foundation for Equitable and Effective Healthcare</p>
                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-4">
            <div class="lc-block mt-5">
                <ul>
                <div editable="rich">
                    <li><p class="lead text-secondary"> 
                        <b>Drive the shift</b> towards more effective clinical practices by 
                        ensuring diverse representation in clinical trials.
                        &nbsp;
                    </p></li>

                    <li><p class="lead text-secondary"> 
                        <b>Improve drug safety & patient outcomes</b> by providing predictive 
                        insights on adverse reactions, helping to prevent negative health outcomes.  
                        &nbsp;
                    </p></li>

                    <li><p class="lead text-secondary"> 
                        <b>Reduce healthcare costs</b> by mitigating the risk of adverse drug 
                        reactions, leading to more effective treatment plans.      
                        &nbsp;
                    </p></li>
                </div>
                </ul>
            </div><!-- /lc-block -->
        </div><!-- /col -->
    </div>
</div>

<br>

<div class="carousel1 carousel slide container position-relative rounded carousel-item-height shadow" id="carouselExampleCaptions" style="background-color: #CEE3EA;">    
    <br>
    <p class="display-6 text-secondary text-center">Our Sponsors</p>
    <div class="helloWorld">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>

        <div class="carousel-inner mt-5 pt-3">
            <div class="carousel-item active">
                <div class="row d-flex align-items-center justify-content-center ">
                    <div class="col-lg-5 col-md-5 col-sm-5 text-secondary ">
                        <a href="https://www.ai4goodlab.com/">
                            <img src="static/images/ai4.png" class="d-block w-100 " alt="..." >
                        </a>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 text-secondary ">
                        <a href="https://mila.quebec/en/">
                            <img src="static/images/mila.png" class="d-block w-100" alt="..." >
                        </a>
                    </div>
                </div>
                <div class="row d-flex align-items-center justify-content-center" >
                    <div class="col-lg-5 col-md-5 col-5 text-secondary text-center">
                        <h4>AI4Good Lab</h4>
                    </div>
                    <div class="col-lg-5 col-md-5 col-5 text-secondary text-center">
                        <h4>Mila</h4>
                    </div>
                </div>
            </div>

            <div class="carousel-item " >
                <div class="row d-flex align-items-center justify-content-center" >
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary">
                        <a href="https://cifar.ca/">
                            <img src="static/images/cifar.png" class="d-block w-100" alt="..." style="height:60px">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary">
                        <a href="https://osmomtl.org/">
                            <img src="static/images/osmo.png" class="d-block w-100" alt="..." style="height:100px">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary">
                        <a href="https://www.amii.ca/">
                            <img src="static/images/amii.png" class="d-block w-100" alt="..." >
                        </a>
                    </div>
                </div>
                <div class="row d-flex align-items-center justify-content-center" >
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary text-center">
                        <h4>Cifar</h4>
                        <p>Founding & Delivery Partner</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary text-center">
                        <h4>Osmo</h4>
                        <p>Founding Partner</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary text-center">
                        <h4>Amii</h4>
                        <p>Delivery Partner</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item ">
                <div class="row d-flex align-items-center justify-content-center ">
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary">
                        <a href="https://vectorinstitute.ai/">
                            <img src="static/images/vector.png" class="d-block w-100" alt="...">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary">
                        <a href="https://www.torontomu.ca/zone-learning/design-fabrication-zone/">
                            <img src="static/images/design.png" class="d-block w-100" alt="..." >
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary">
                        <a href="https://deepmind.com/">
                            <img src="static/images/deep.png" class="d-block w-100" alt="..." >
                        </a>
                    </div>
                </div>
                <div class="row d-flex align-items-center justify-content-center" >
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary text-center">
                        <h4>Vector Institute</h4>
                        <p>Delivery Partner</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary text-center" >
                        <h4>Design Fabrication Zone</h4>
                        <p>Delivery Partner</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary text-center">
                        <h4>DeepMind</h4>
                        <p>Title Sponsor</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item ">
                <div class="row d-flex align-items-center justify-content-center" >
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary">
                        <a href="https://google.ca/">
                            <img src="static/images/google.png" class="d-block w-100" alt="..." style="height:70px">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary">
                        <a href="https://ivado.ca/">
                            <img src="static/images/ivado.png" class="d-block w-100" alt="..." style="height:70px">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary">
                        <a href="https://www.manulife.ca/">
                            <img src="static/images/manulife.png" class="d-block w-100" alt="..." >
                        </a>
                    </div>
                </div>
                <div class="row d-flex align-items-center justify-content-center" >
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary text-center">
                        <h4>Google</h4>
                        <p>Title Sponsor</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary text-center">
                        <h4>Ivado</h4>
                        <p>Title Sponsor</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 text-secondary text-center">
                        <h4>Manulife</h4>
                        <p>Title Sponsor</p>
                    </div>
                </div>
            </div>
 
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="margin-left:-30px">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="margin-right:-30px">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<br>
<div id="carouselExampleCaptions2" class="carousel2 carousel slide container p-5 mt-md-n6 position-relative rounded" style="background-color: #CEE3EA;">
    <p class="display-6 text-secondary text-center">Our Sponsors</p>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://mila.quebec/en/">
            <img src="static/images/mila.png" class="d-block w-100" alt="..." style="height:120px;position: relative;top: 50px;">
        </a>
        <div class="carousel-caption d-none d-md-block text-secondary">
            <h4>Mila</h4>
            <br>
        </div>
      </div>
      <div class="carousel-item active">
        <a href="https://www.ai4goodlab.com/">
            <img src="static/images/ai4.png" class="d-block w-100" alt="..." style="height:120px;position: relative;top: 50px;">
        </a>
        <div class="carousel-caption d-none d-md-block text-secondary">
            <h4>AI4Good Lab</h4>
            <br>
        </div>
      </div>
      <div class="carousel-item">
        <br><br>
        <a href="https://cifar.ca/">
            <img src="static/images/cifar.png" class="d-block w-100" alt="..." style="height:85px">
        </a>
        <div class="carousel-caption d-none d-md-block text-secondary">
          <h4>Cifar</h4>
          <p>Founding & Delivery Partner</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://osmomtl.org/">
            <img src="static/images/osmo.png" class="d-block w-100" alt="...">
        </a>
        <div class="carousel-caption d-none d-md-block text-secondary">
          <h4>Osmo</h4>
          <p>Founding Partner</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://www.amii.ca/">
            <img src="static/images/amii.png" class="d-block w-100" alt="..." style="height:150px">
        </a>
        <div class="carousel-caption d-none d-md-block text-secondary">
          <h4>Amii</h4>
          <p>Delivery Partner</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://vectorinstitute.ai/">
            <img src="static/images/vector.png" class="d-block w-100" alt="...">
        </a>
        <div class="carousel-caption d-none d-md-block text-secondary">
          <h4>Vector Institute</h4>
          <p>Delivery Partner</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://www.torontomu.ca/zone-learning/design-fabrication-zone/">
            <img src="static/images/design.png" class="d-block w-100" alt="..." style="height:150px;position: relative;top: 30px;">
        </a>
        <div class="carousel-caption d-none d-md-block text-secondary">
          <h4>Design Fabrication Zone</h4>
          <p>Delivery Partner</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://deepmind.com/">
            <img src="static/images/deep.png" class="d-block w-100" alt="..." style="height:250px;position: relative;top: -25px;">
        </a>
        <div class="carousel-caption d-none d-md-block text-secondary">
          <h4>DeepMind</h4>
          <p>Title Sponsor</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://google.ca/">
            <img src="static/images/google.png" class="d-block w-100" alt="..." style="height:100px;position: relative;top: 50px;">
        </a>
        <div class="carousel-caption d-none d-md-block text-secondary">
          <h4>Google</h4>
          <p>Title Sponsor</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://ivado.ca/">
            <img src="static/images/ivado.png" class="d-block w-100" alt="..." style="height:120px;position: relative;top: 40px;">
        </a>
        <div class="carousel-caption d-none d-md-block text-secondary">
          <h4>Ivado</h4>
          <p>Title Sponsor</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://www.manulife.ca/">
            <img src="static/images/manulife.png" class="d-block w-100" alt="..." style="height:300px;position: relative;top: -40px;">
        </a>
        <div class="carousel-caption d-none d-md-block text-secondary">
          <h4>Manulife</h4>
          <p>Title Sponsor</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div> 

<script>
    var logged_in = {{ logged_in|tojson }};
    window.onload = function() {
      var startTodayButton = document.getElementById('startTodayButton');
      startTodayButton.addEventListener('click', function(event) {
        if (logged_in) {
          window.location.href = '/home';
        } else {
          window.location.href = '/sign-up'; 
        }
      });
    };

    $(document).ready(function(){
        $('.carousel').carousel();
    });
    $('.carousel').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      nextArrow: $('.next'),
      prevArrow: $('.prev')
    });
</script>
   
{% endblock %}