{% extends "base.html" %} 
{% block title %}Profile{% endblock %} 

{% block content %}
  <div class="display-6 my-3" align="center">
    Profile Page
  </div>
   
    <div class="shadow p-3 mb-5 bg-body rounded">
      <form action="/update-profile" method="POST" id="myForm" onsubmit="submitForm();">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" value="{{ current_user.email }}" oninput="checkForChanges()" >   
        </div>  
        
        <div class="mb-3">
          <label for="email" class="form-label">First Name</label>
          <input type="text" class="form-control" id="first_name" name="first_name" value="{{ current_user.first_name }}" oninput="checkForChanges()">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="last_name" name="last_name" value="{{ current_user.last_name }}" oninput="checkForChanges()">
        </div>


        <div class="mb-3" id="sexe">
          <label for="sexe" class="form-label" >Sex</label>
          <select class="form-control" id="sexe-display" name="sexe" oninput="checkForChanges()">
            <option value="Male" {% if current_user.sexe == 'Male' %}selected{% endif %}>Male</option>
            <option value="Female" {% if current_user.sexe == 'Female' %}selected{% endif %}>Female</option>
            <option value="none" {% if current_user.sexe == 'none' %}selected{% endif %}>Prefer not to say</option>
          </select>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-start" id="update" aria-controls="collapseExample" disabled>Update information</button>
          <button type="button" class="btn btn-delete" id="delete" onclick="confirmDelete()">Delete Account</button>
        </div>

        
        
    </form>
       
  </div>

  <script>
    const originalValues = {
      email: document.getElementById('email').value,
      first_name: document.getElementById('first_name').value,
      last_name: document.getElementById('last_name').value,
      sexe: document.getElementById('sexe-display').value
    };

     function checkForChanges() {
      const email = document.getElementById('email').value;
      const firstName = document.getElementById('first_name').value;
      const lastName = document.getElementById('last_name').value;
      const sexe = document.getElementById('sexe-display').value;

      const updateButton = document.getElementById('update');

      if (email !== originalValues.email || firstName !== originalValues.first_name || lastName !== originalValues.last_name || sexe !== originalValues.sexe) {
        // updateButton.classList.remove('inactive');
        // updateButton.classList.add('active');
        updateButton.disabled = false;
      } else {
        // updateButton.classList.remove('active');
        // updateButton.classList.add('inactive');
        updateButton.disabled = true;
      }
    }

    function confirmDelete() {
      var confirmDelete = confirm("Are you sure you want to delete your account? This action cannot be undone.");
      if (confirmDelete) {
        window.location.href = "/delete_account";
      }
    }
    

  </script>

{% endblock %}
