{% extends "base-mobile.html" %} {% block title %}Saved{% endblock %} 
{% block content %}
    <div class="display-6 my-3" align="center">
        Saved Page
    </div>


    {% for drug in drugs %}
<div class="card shadow " style="background-color:#CEE3EA;">
    <div class="card-body">
        <div id="cardContainer" >
            <h4 class="card-title">{{ drug.name }}</h4>
            <br>
            <div>
                <h5 class="card-subtitle mb-2 text-body-secondary">Used For: {{ drug.disease }}</h5>
                <div class="row">
                    <div class="col-sm-6 h6">
                      Sex Distribution in Clinical Studies
                    </div>
                    
                    <div class="col-sm-6 h6">
                      Disease Prevalence
                    </div>
                   
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <img style="height:250px;width:auto" src="{{ drug.prevalence }}" alt="{{ drug.name }}">
                  </div>
                  <div class="col-sm-6">
                    <img style="height:250px;width:auto" src="{{ drug.path_prevalence }}" alt="Disease Prevalence">
                  </div>
                </div>
                <form action="{{ url_for('views.unsave_drug') }}" method="post">
                  <input type="hidden" name="drug_id" value="{{ drug.id }}">
                  <button type="submit" class="btn btn-start">
                      {% if current_user.is_authenticated %}
                          Unsave
                      {% else %}
                          Save
                      {% endif %}
                  </button>
                  <!-- <button type="button" class="btn btn-start" id="calcRisk" onclick="window.location.href='{{ url_for('auth.identify') }}#identify-risk-form';" >Identify Risk</button>   COME BACK HERE           -->
                  
                </form>
            </div>
        </div>
    </div>
</div>
<br>
{% endfor %}

    
   
    <!-- <script>
        window.onload = function() {
          var savedCard = localStorage.getItem('savedCard');
          if (savedCard) {
            document.getElementById('savedContainer').innerHTML += savedCard;
            document.getElementById('unsaveButton').addEventListener('click', function() {
              document.getElementById('savedContainer').innerHTML = '';
              localStorage.removeItem('savedCard');
              document.getElementById('cardContainer').style.display = 'none';
            });
          } else {
            document.getElementById('cardContainer').style.display = 'none';
          }
        };
    </script> -->
{% endblock %}