{% extends "base-mobile.html" %} {% block title %}Saved{% endblock %} 
{% block content %}
    <div class="display-6 my-3" align="center">
        Saved Page
    </div>


    <div class="container">
      <div class="row">
        {% for drug in drugs %}
        <div class="col-sm-12 col-md-6">
          <div class="card-wrapper ">
            <div class="card shadow align-items-center" style="background-color:#CEE3EA;">
                <div class="card-body">
                    <div id="cardContainer" style="max-width:100%;">
                        <h4 class="card-title" id="drugName">{{ drug.name.replace("_", " ") }}</h4>
                        <div>
                            <h5 class="card-subtitle mb-2 text-body-secondary" id="drugCondition">Used For: {{ drug.disease }}</h5>
                            <br>
                            <div class="row">
                                <div class="col-sm-6 h6">
                                  Average Sex Distribution in Clinical Studies
                                </div>
                                
                                <!-- <div class="col-sm-6 h6">
                                  Disease Prevalence
                                </div> -->
                               
                            </div>
            
                            <div class="row ">
                              <div class="col-sm-12 d-flex justify-content-center">
                                <img class="card-sizing img-fluid" src="{{ drug.prevalence }}" alt="{{ drug.name }}">
                              </div>
                              <!-- <div class="col-sm-6">
                                <img style="height:auto;max-width:100%;display:block;" src="{{ drug.path_prevalence }}" alt="Disease Prevalence" >
                              </div> -->
                            </div>
    
                            <div class="accordion" id="accordionExample{{ drug.id }}">
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ drug.id }}">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ drug.id }}" aria-expanded="true" aria-controls="collapse{{ drug.id }}">
                                    Learn More
                                  </button>
                                </h2>
                                <div id="collapse{{ drug.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ drug.id }}" data-bs-parent="#accordionExample{{ drug.id }}">
                                  <div class="accordion-header ms-3 mt-3 text-secondary">
                                    Age-Standardized Prevalence of {{ drug.disease}} in Canadians Aged 1 Years and Older (2021-2022) *
                                  </div>
                                  <div class="accordion-body">
                                    <strong>Prevalence in females:</strong> {{ drug.prevFemale }} %<br>
                                    <strong>Prevalence in males:</strong> {{ drug.prevMale }} % <br>
                                    <strong>Prevalence in both sexes:</strong> {{ drug.prevBoth }} % <br>
    
                                    <br>
                                    *retrieved from <a class="readMore" href="https://health-infobase.canada.ca/ccdss/data-tool/">https://health-infobase.canada.ca/ccdss/data-tool/</a>
                                  </div>
                                </div>
                              </div>
                            </div>
    
                            <form method="post" id="save-unsave" class="mt-3" action="/home">
                              
                              <div class="master" action="{{ url_for('views.save_drug') if not drug.is_saved else url_for('views.unsave_drug') }}">
                                <input type="hidden" name="drug_id" value="{{ drug.id }}">
                                {% if current_user.is_authenticated %}
                                <!-- If user is logged in, show the save/unsave button -->
                                  {% if drug.is_saved %}
                                      <button type = "submit" class="unsave-drug btn btn-start" data-drug="{{ drug.id }}">Unsave</button>
                                  {% else %}
                                      <button type = "submit" class="save-drug btn btn-start" data-drug="{{ drug.id }}">Save</button>
                                  {% endif %}
                                {% else %}
                                  <!-- If user is not logged in, show only the save button which redirects to login -->
                                  <a href="{{ url_for('auth.login') }}" class="btn btn-start">Save</a>
                                {% endif %}
                              </button>
                            </div>
                             
                            </form>
    
                            <form method="post" id="calcRiskForm{{ drug.id }}" class="mt-3" action="/calculate-risk#accordionExample{{ drug.id }}">
                              <input type="hidden" name="drug_id" value="{{ drug.id }}">
                              <input type="hidden" name="drugName" id="drugName{{ drug.id }}" value="{{ drug.name }}">
                              <input type="hidden" name="drugCondition" id="drugCondition{{ drug.id }}" value="{{ drug.disease }}">
                              <button type="submit" onclick="performPrediction()" id="calcRiskButton{{ drug.id }}" data-drug-id="{{ drug.id }}" class="btn btn-start calcRisk">Calculate Risk</button>
                              <br><br>
                              <div class="container position-relative rounded {{ 'hidden' if result_string_pred is none or result_string_pred|length == 0 }}" id="resultString{{ result_drug_id }}">
                                
                                <!-- {% if result_drug_id == drug.id %} -->
                                  {{ result_string_pred|safe }}
                                <!-- {% endif %} -->
                                
                              </div>
                
                            </form>
    
                            <!-- Calculating Modal -->
                            <div class="modal" tabindex="-1" role="dialog" id="calculatingModal">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title">Processing  &nbsp;</h5>
                                          <div class="spinner-border" role="status" style="color:#CEE3EA">
                                              <span class="visually-hidden"></span>
                                          </div>
                                      </div>
                                      <div class="modal-body">
                                          <p>Thank you for your patience.</p>
                                      </div>
                                  </div>
                              </div>
                            </div>
    
                            <!-- <form method="post" id="calcRiskForm" class="mt-3">
                              <input type="hidden" name="drugName" id="drugName" value="{{ drug.name }}">
                              <input type="hidden" name="drugCondition" id="drugCondition" value="{{ drug.disease }}">
                              <button type="submit" id="calcRisk" class="btn btn-start calcRisk" onclick="submitForm2()">Calculate Risk</button>  
                              <br><br>
                              <div id="resultString" class="container position-relative rounded " >
                                {{ result_string_pred }}
                              </div>
                            </form> -->
                        </div>
    
                    </div>
                </div>
            </div>
            </div>
          <br>
        </div>
        {% endfor %}
      </div>
    </div>
    
   
    <script>
        function performPrediction(drugId) {
        var calculatingModal = new bootstrap.Modal(document.getElementById('calculatingModal'));
        calculatingModal.show();
        // Set up a MutationObserver to watch for changes in the 'hidden' class of the result div
        var resultDiv = document.getElementById(`resultString${drugId}`);
        var observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if (!resultDiv.classList.contains('hidden')) {
                    // Once the result is displayed, hide the modal and disconnect the observer
                    scrollToAccordion(drugId);
                    calculatingModal.hide();
                    

                    observer.disconnect();
                    // Scroll to the accordion element
                    
                }
            });
        });

        var config = { attributes: true, childList: false, characterData: false, attributeFilter: ['class'] };
        observer.observe(resultDiv, config);
    }

    function scrollToAccordion(drugId) {
        var accordionElement = document.getElementById(`accordionExample${drugId}`);
        if (accordionElement) {
            accordionElement.scrollIntoView({ behavior: 'smooth' });
        } else {
            console.error(`Element with ID accordionExample${drugId} not found.`);
        }
    }

    window.onload = function() {
      var drugId = "{{ result_drug_id }}";

      if(window.location.hash) {
            var hash = window.location.hash.substring(1); // Get the hash, minus the '#'
            var targetElement = document.getElementById(hash);
            if(targetElement) {
                targetElement.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });
            }
            history.pushState("", document.title, window.location.pathname + window.location.search);
      }


    };
    
    document.getElementById('saveButton').addEventListener('click', function() {
      var cardContainer = document.getElementById('cardContainer');
      var parser = new DOMParser();
      var doc = parser.parseFromString(cardContainer.outerHTML, 'text/html');
      var saveButton = doc.getElementById('saveButton');
      saveButton.textContent = 'Unsave';
      saveButton.id = 'unsaveButton';
      localStorage.setItem('savedCard', doc.body.innerHTML);
      window.location.href = 'saved';
    });

    function submitForm() {
      // Handle form submission here
      document.getElementById('myForm').submit();
    }

    </script> 
{% endblock %}