{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
  content %}
  <div class="display-6 my-3" align="center">
    Sign Up
  </div>

  <div align="center">
    Already have an account?
    <a href="/login" class="email-link">Login</a>
  </div>
  <br>

  <form method="POST">    
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="Enter first name"
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        name="lastName"
        placeholder="Enter last name"
      />
    </div>
    <div class="form-group">
      <label for="password1">Password</label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter password"
      />
    </div>
    <div class="form-group">
      <label for="password2">Password (Confirm)</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm password"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <footer class="footer p-5 mt-auto"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-md-3" > 
                <h5>
                    <a  class="link-underline-opacity-0" href="/" style="--bs-link-hover-color-rgb: 246, 174, 164;">
                        <img src="static/images/logo.png" alt="unbIAsed.Rx" style="width: 200px;">
                    </a>
                </h5>
            </div> 
            <div class="col-md-2"> 
                <h5>About Us</h5> 
                <ul class="list-unstyled list-group"> 
                    <li><a class="dropdown-item list-group-item-action" href="../about#whoWe" style="--bs-link-hover-color-rgb: 246, 174, 164;">Who are we?</a></li>
                    <li><a class="dropdown-item list-group-item-action" href="../about#meetTeam" style="--bs-link-hover-color-rgb: 246, 174, 164;">Meet the team</a></li>
                </ul>
            </div> 
            <div class="col-md-3"> 
                <h5>Contact Us</h5> 
                <ul class="list-unstyled"> 
                    <li>Email: <a href="mailto:unbIAsed.rx@gmail.com" class="email-link">unbIAsed.rx@gmail.com</a></li> 
                    <li>Address: Montreal, Qc, Canada</li> 
                </ul> 
            </div> 

            <div class="col-md-4"> 
                <h5>Feedback</h5> 
                <ul class="list-unstyled"> 
                    <li>We welcome any questions and suggestions on how we can improve our website!</li> 
                </ul> 
            </div> 
            
        </div> 
        <br>
        <div class="row"> 
            <div class="col text-secondary fst-italic"> 
                <p>Disclamer: All information provided is for educational purposes only, and is not intended for medical adivce, diagnosis, or treatment.</p> 
            </div> 
        </div> 
        <hr> 
        <div class="row"> 
            <div class="col-md-6"> 
                <p>© 2024 unbIAsed-Rx.ca. All rights reserved.</p> 
            </div> 
        </div> 
    </div> 
</footer> 
   
  {% endblock %}